.LoginPopUp{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
}

.LoginPopUpContainer{
    place-self: center;
    width: max(23vw,330px);
    color: var(--text-tertiary);
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    border: 1px solid var(--border-color);
}

.LoginPopUpTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
}

.LoginPopUpTitle img{
    width: 16px;
    cursor: pointer;
}

.LoginPopUpInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.LoginPopUpInputs input{
    outline: none;
    border: 1px solid var(--border-light);
    padding: 10px ;
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--text-primary);
}

.LoginPopUpContainer button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: var(--text-primary);
    background-color: var(--accent-color);
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.LoginPopUpContainer button:hover{
    background-color: var(--accent-hover);
}

.LoginPopUpConditon{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.LoginPopUpConditon input{
    margin-top: 5px;
}

.LoginPopUp p span{
    color: var(--accent-color);
    font-weight: 500;
    cursor: pointer;
}