.FoodItem{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 2px var(--card-shadow);
    transition: 0.3s;
    animation: fadeIn 1s ;
    background-color: var(--card-bg);
}

.FoodItemImage{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.FoodItemInfo{
    padding: 20px;
}

.FoodItemName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--text-primary);
}

.FoodItemName p{
    font-size: 20px;
    font-weight: 500;
}

.FoodItemName img{
    width: 70px;
}

.FoodItemDescription{
    color: var(--text-tertiary);
    font-size: 12px;
}

.FoodItemPrice{
    color: var(--accent-color);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.FoodItemImageContainer{
    position: relative;
}

.FoodItemImageContainer .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;    
}

.FoodItemCount{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: var(--card-bg);
    box-shadow: 0px 0px 4px var(--card-shadow);
}

.FoodItemCount img{
    width: 30px;
}