.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.headerContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.headerContent h2{
    font-weight: 500;
    color: var(--text-primary);
    font-size: max(4vw ,22px);
}

.headerContent p{
    color: var(--text-primary);
    font-size: 1vw;
}

.headerContent button{
    border: none;
    color: var(--text-secondary);
    font-weight: 400;
    padding: 1vw 2.3vw;
    background-color: var(--card-bg);
    font-size: max(1vw,13px);
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.headerContent button:hover{
    background-color: var(--accent-color);
    color: var(--text-primary);
}

@media (max-width:1050px){
    .headerContent{
        max-width: 45%;
    }
}

@media (max-width:750px){
    .headerContent{
        max-width: 65%;
    }
    .headerContent p{
        display: none;
    }
    .headerContent button{
        padding: 2vw 4vw;
    }
}
